/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */

@import "ubigreen_variables";

// link stampati tra parentesi
a[href]:after { content: none !important; }

img {width: auto !important; max-width: 100%;}
.clearfix {
  &:before,
  &:after {
    content: " "; 
    display: table; 
  }
  &:after {
    clear: both;
  }
}

body { font-size: 9pt; font-family: $font-family-base !important;}
p,
#content p { margin: 0 0 4pt; line-height: 1.4em; }

h1, h2 { letter-spacing: normal; font-weight: 500; }
h1, h2, h3, h4, h5, h6, strong, ul, li, #content p, span, div  { font-family: $font-family-base !important; }
h1 { font-size: 15pt; }
h2 { font-size: 14pt; }
h3 { font-size: 12pt; font-weight: 600; }


#toplinks-wrapper,
.searchTile,
#portal-footer-wrapper,
#search-filters,
#pie-prj,
.chart-title-below,
.btn_mostra_filtri,
.sortFilter-wrapper,
#projectAnchors,
#portal-personaltools-wrapper,
.documentByLine,
#intro-video video          { display: none; }

#portal-logo                { display: block;
                              background: #fff url($img-path+'logo_ubigreen_print.png') no-repeat center top;
                              width: 200px;
                              height: 23px;
                            background-size: auto;
                              border: 0;
    img, span               { display: none; }
}
#portal-header              { margin-bottom: 20pt; }

// homepage
#intro-video h2             { font-size: 36px; }
.homepage-content           {
    .flip-projects          { margin-top: 60px;
        h2                  { font-size: 20pt; }
    }
    .numeri                 { margin-top: 50px; }
    .ubigreenTile.numeri                    { padding: $grid-gutter-width 0 50px;
        .tile-text                          { 
            h2                              { font-size: 20pt;
                                              margin-bottom: 50px;
                                              margin-top: 0;
            }    
            .numeri_indicatori              { @extend .clearfix;
                 [class^="dato_indicatore"] { margin-right: 30pt; float: left;
                    h5                      { text-transform: uppercase; 
                                              font-size: 10pt;
                     }
                     p                       { margin:0;
                         strong              { font-weight: 500; }
                     }
                }
            }
            .numeri_regione                  { background: $tr url($img-path+'lombardia.png') no-repeat center top;
                                               background-size: contain;
                                               height: 400px;
                                              margin: 30pt 0;
                                               position: relative;
                [class^='n_regione']         { position: absolute;
                                               color: #FFF;
                                               font-family: $font-family-condensed;
                                               text-transform: uppercase;
                                               background-color: transparentize(#000, .4);
                                               border-radius: 120px;
                                               width: 12em;
                                               text-align: center;
                                               padding: 3em 0;
                                               font-size: 14pt;
                    strong                    { font-size: 2.6em;
                                                display: block;
                    }
                    &.n_regione_1             { background-color: transparentize(#af3c43, .3);
                                                top: 20%;
                                                left: 20%;
                                                width: 8em;
                                                height: 8em;
                                                font-size: 1.2em;
                                                padding: 0.3em 1em;
                        strong                { font-size: 3em;
                                                margin-bottom: -0.2em;
                        }
                    }
                    &.n_regione_2             { background-color: transparentize(#f7941d, .2);
                                                top: 0;
                                                right: 12%;
                                                width: 8em;
                                                height: 8em;
                                                padding: 0.6em 0px;
                        strong                { margin-bottom: -0.2em; }
                    }
                    &.n_regione_3             { top: 40%;
                                                left: 40%;
                                                padding: 3em 1.1em;
                    }
                }
            }
            .numeri_chart                     { 
                img                           { display: block; margin: 0 auto;  }
                .chart_legend                 { margin-top: 35px;
                    p.tot                     { margin: 2px 0;
                                                padding: 0.2em 0 0.6em;
                                                text-align: center;
                                                font-family: $font-family-condensed;
                        strong                { color: #167196;
                                                font-size: 1.2em;
                                                padding: 0 0.1em;
                            span              { font-size: 1.2em; }
                        } 
                        > span                { display: block;
                                                font-style: italic;
                                                font-size: 0.5em; 
                                                font-family: $font-family-base;
                        }
                    }
                }
            }
        }        
    }
    .rssTile                            {
        h2                              { font-size: 20pt; }
        a                               { border: 0; }
        .rssEntry                       { clear: both; padding-bottom: 30pt; }
        .feedImg                        { float: left; margin-right: 30px; }
        p                               { margin: 0 0 5pt;}
        .feedData                       { font-size: 10pt; }
        h5                              { margin: 0 0 5pt;
                                          font-size: 10pt;
                                          font-weight: 600;
        }
    }
}

.flip-projects-container    { @extend .clearfix; 
    .flip-projects-item     { border-top: 1px solid #333;
                              padding: 30px 0 20px;
        &:last-child        { border-bottom: 1px solid #333; }
        p.prj-bando,
        p.prj-budget,
        p.prj-ente          { display:  inline-block; 
            span            { text-transform: uppercase; font-size: 9pt; }
            strong, em      { font-weight: 500; font-style: normal; }
        }
        p.prj-bando         { border-right: 1px solid #000; padding-right: 20px; margin-right: 20px;}
        h4                  { 
                              font-weight: 600;
                              margin: 0 0 15pt;
        }
        .prj-front          { background: $tr none !important; }
        .prj-back           { display: none; }
    }
}

// RICERCA
.data_char_box_wrapper      {
    .data_char_box_value    { display: block; }
}
.chart-container            {
    .chart-legend           {
        h5                  { font-size: 14pt;
                              font-weight: 600;
                              margin-bottom: 15pt;
        }
    }
    div[class^='legend-series-'] { float: left; margin-right: 40pt; }
}
#gmap                       { width: 100%; height: 600px; }

.fade-prj              { border-bottom: 1px solid #333;
                         padding: 20px 0 20px;
                         background: $tr none !important;
    p.prj-bando,
    p.prj-budget,
    p.prj-ente          { 
        span            { text-transform: uppercase; font-size: 9pt; }
        strong, em      { font-weight: 500; font-style: normal; }
    }
    h4                  { font-size: 13pt;
                          font-weight: 600;
                          margin: 0 0 15pt;
        a               { border: 0;}
    }
    .prj-link           { display: none; }
}           

// SCHEDA PROGETTO
#projectHeader          {
    img                 { display: none; }
    .projectBando       { display: none; }
}
#infos                  { padding:  0 0;
    .info-bando-progetti,
    .infos-tabs,
    .info-ente-progetti { display: none; }
    ul                  {margin-top:0;}
    h2                  { display: none;}
    .tab-content        {
        div[role="tabpanel"] {  @extend .clearfix; border-bottom: 1px solid #000; padding-bottom: 20pt; margin-bottom: 20pt; }
        div#contacts { border-bottom: 0; }
        h3              { margin: 0 0 3pt; font-size: 10pt;}
        .sr-only { display: none; }
        .col-1, .col-2  { float: left;}
        .col-1          { margin-right: 20pt;  }
        h5              { text-transform: uppercase; margin: 8pt 0 3pt; font-weight: 600; font-size: 8pt; color: #555;}
        h6              { text-transform: uppercase; font-size: 8pt; font-weight: 600;  margin: 8pt 0 3pt; color: #555;}
    } 
    .markers-indicatore {
        h6              { font-size: 9pt; }
        ul              {
            li          { margin-bottom: 4pt;
                .elencoRowDisplayValue,
                .elencoRowDisplayValue,
                strong  { display: block;}
            }
        }
    }
    .info-contatti      {
        p[class^='telefono-']:before { content: 'tel.: ';}
        p[class^='mail-']:before { content: 'e-mail:  '; }
        p[class^='telefono-'],
        p[class^='mail-'] { display: inline-block; padding-right: 10pt; margin-right: 10pt; }
        p[class^='mail-'] { border-right: 1px solid #000; }
    }
    #contacts           {
        & > h3          { display: none;
            &.sr-only   { display: block; }
        }
        .altri-prj-ente { display: none;}
        .link-altri-prj-ente { display: none; }
    }
    .desc-efficacia { margin-top: 10pt; }
    .efficacia-dato { font-weight: bold; margin-top: 10pt; }
}
#map  { display: none; }
#gallery                { display: none;  }
#attachments            { display: none; }
#altriProgetti          { display: none;
                        /*padding: 0; 
    h3                  { margin: 0; }
    .flip-projects-container .flip-projects-item { border-top: 0; border-bottom: 1px dashed #999; padding: 10px 0; 
        p { font-size: 7pt; }
        p.prj-bando     { padding-right: 0; border:0; }
        h4              { margin:0 0 4pt; font-size: 9pt; }
    }
    .flip-projects-container .flip-projects-item:last-child { border-bottom: 0; }*/
}
.sinergie-progetto { clear: both; }
.efficacia-dato {
    .arrow,
    br { display: none; }
}
    