@import "cciaapd_variables";
@import "import_bootstrap";
@import "mixins_utility";
@import "plonefix";
@import "sunburst_public";
@import "base_styles";

body { @extend .light; }
strong { @extend .semibold; }

/////// SIZES AND CONTAINERS
#portal-header,
#portal-siteactions,
.topbarContent,
.breadcrumbsContent,
#portal-columns,
.submenuDetailsContent,
#portal-globalnav,
.colophonWrapper,
#portlets-footer { @extend .container; }

//img { max-width: 100%; }


// elimino gli stili .row sui contenitori esterni
#portal-top,
#portal-footer-wrapper,
#viewlet-below-content .row { margin-left: 0; margin-right: 0; }

#content,
#portal-columns,
#viewlet-below-content-title { padding:0;}

#portal-column-two           { padding-top: 50px; padding-bottom: 30px; 
  .managePortletsLink        { margin-top: 20px; }
}

// PORTLETPAGE
.colonna-1-di-2         { @extend .col-sm-6; }
.colonna-1-di-3         { @extend .col-sm-4; }
.colonna-1-di-4         { @extend .col-sm-3; } 


// fix per responsive
@media (max-width: $screen-xs-max) {
    .row                            { margin-left: 0;
                                     margin-right: 0;
    }
    .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {padding-left:0; padding-right: 0;}
}

#portal-personaltools-wrapper         { border-bottom: 0;
    .userrole-anonymous &             { display: none; }
    #user-name                        { @extend .bold;
                                        text-transform: uppercase;
    }
}

// header
#portal-top                 { margin-bottom: 40px; }
#portal-header              { padding-right: 0; }
#topbar                     { background-color: #EBEBEB; 
                              border-bottom: 1px solid #d3d3d3;
                              padding: 5px 0;
                              color: #717171;
    .topbarContent          { padding-right: 0; }
    a                       { color: #717171; 
        &:focus,
        &:hover             { color: $link-color;}
    }
    .claim                  { @extend .pull-left; 
                              margin: 6px 0 0;
                              text-transform: uppercase;
                              font-size: 0.85em;
                              @extend .semibold;
    }                          
    #top-link-group         { @extend .pull-right;  
                              margin:0;
                              font-size: 0.9em;
                              white-space: nowrap;
        li                  { margin: 0 8px;
                              white-space: nowrap;
        }
        .socialFb a:before  { @include make-fa('\f09a'); }
        .socialTw a:before  { @include make-fa('\f099'); }
        .socialGp a:before  { @include make-fa('\f0d5'); }
        [class^='social']   { font-size: 18px;  
                              position: relative;
                              top: 3px;
            span { @extend .sr-only; }
            a:before        { cursor: pointer; }
        }
        .linkEng            { border-left: 1px solid #bbb;
                              padding-left: 20px;
        }
    }
}

// SEARCH
#searchbox                  { @extend .pull-right;
    a.btnSearch             { display: block;
                              background-color: $brand-primary;
                              padding: 14px 12px;
        &:focus,
        &:hover             { background-color: lighten($brand-primary, 10); }
        &:active            { background-color: $gray;}
        &:before            { @include make-flaticon('magnifier13', 50px); 
                              color: #FFF;
        }
        span                { @extend .sr-only; }
    }
}
#camcomskin-searchbox       { text-align: center;
                              padding: 20px 0;
  .searchFieldWrapper       { display: inline-block;
                              position: relative;
                              max-width: 600px; 
                              width: 100%;
                              white-space: nowrap;
    &:before                { @include make-flaticon('magnifier13', 28px);
                              color: $gray-lighter;
                              display: inline-block;
                              position: absolute;
                              left: 10px;
                              top: 5px;
                              z-index: 100;
    }
  }
  input.searchField         { box-shadow: none;
                              border-radius: 0;
                              border:0;
                              background-color: #f4f4f2;
                              font-size: 1.6em;
                              padding: 0.3em 0.7em 0.3em 54px;
                              height: auto;
                              color: #000;
  }
  input.searchButton        { border-radius: 0;
                              font-size: 1.3em;
                              text-transform: uppercase;
                              @extend .light; 
                              background-color: $blu;
                              border:0;
                              margin: -0.5em 0 0 -4px;
                              padding: 0.5em 1em;
  }
  a.closeLink               { display: inline-block;
    &:before                { @include make-fa('\f00d', $text-color);
                              font-size: 24px;
                              margin-left: 10px;
    }
    span                    { @extend .sr-only; }
  }
}
// PAGINA RICERCA
#search-field                     { position: relative;
                                    max-width: 550px;
                                    white-space: nowrap;
                                    margin: 0 auto;
  &:before                        { @include make-flaticon('magnifier13', 35px);
                                    color: $gray-lighter;
                                    display: inline-block;
                                    position: absolute;
                                    left: 14px;
                                    top: 22px;
                                    z-index: 100;
  }
  input[name='SearchableText']    { 
                                    box-shadow: none;
                                    border-radius: 0;
                                    border:1px solid #ddd;
                                    background-color: #f4f4f2;
                                    font-size: 1.6em;
                                    padding: 0.3em 0.7em 0.3em 60px;
                                    height: auto;
                                    color: #000;
  }
  input.searchButton              { border-radius: 0;
                                    text-transform: uppercase;
                                    @extend .light; 
                                    background-color: $blu;
                                    border:0;
                                    margin: -0.65em 0 0 -4px;
                                    padding: 0.7em 1em;
                                    font-size: 1.5em !important;
  }
}
.searchResults                    {
  cite                            { font-size: 0.9em; }
}

// LOGO
#portal-logo                { margin: 20px 0 0;
                              @extend .pull-left;
    img                     { max-width: 250px;
                              height: auto; 
    }
}

// MENU SUPERIORE
.secondaryMenu              { @extend .pull-right;
                              top: 40px;
                              position: relative;
                              margin-right: 80px;
                              display: block;
  > ul                      { white-space: nowrap;
                              margin-bottom: 0;
    > li.secondaryMenuItem  { margin-right: 5%;
                              display: inline-block;
      > a                   { font-size: 1.1em;
                              text-transform: uppercase;
                              color: #4a4a4a;
                              display: block;
                              @include transition(all .1s ease-in);
        &:focus,
        &:hover             { color: $link-color;}
        &:after             { @include make-fa('\f107', $link-color); 
                               font-size: 18px;
                               margin-left: 12px;
                               position: relative;
                               top: 0.1em;
        }
      }
      &.secondaryTabOpen > a  { color: $link-color;
        &:after             { @include make-fa('\f106', $blu); }
      }
    }
  }
  .popover                  { max-width: none;
    .popover-content        { padding: 10px 15px; }
  }
  .submenuWrapper           { @extend .clearfix; 
                              width: 660px;
  }
  .submenuItem              { float: left;
                              width: 230px;
                              padding-left: 30px;
                              font-size: 1.05em;
                              @extend .light;
    p                       { font-size: 0.9em;                               
                              color: $gray-light;
    }                              
    &:first-child           { padding-left: 0; width: 200px; }
    a                       { color: $text-color;
        &:focus,
        &:hover             { color: $link-color; }
    }
    h4                      { margin-top: 15px;
                              font-size: 1.1em;
    }
    h5                      { text-transform: uppercase;
                              @extend .semibold;
                              margin: 1em 0;
                              font-size: 1.05em;
    }
    ul                      { @extend .list-unstyled;
                              display: block;
        li                  { display: block; 
                              margin-bottom: 0.65em;
                              position: relative;
                              color: $gray-light;
                              line-height: 1.3em;
          a                 { display: inline-block;
            &.external-link { padding-right: 20px;
              &:after       { position: absolute;
                              @include make-fa('\f08e', $gray-lighter);
                              right: 0;
                              top: 0;
              }
            }
          }
        }
    }
    strong                  { @extend .semibold; }       
    // solo colonna servizi online
    &.servizi-online        { background-color: $grayVeryLighty;
                              padding-bottom: 10px;
      h5                    { color: $link-color; }
      ul li                 { padding-left: 13px;
        &:before            { @include make-fa('\f105', $link-color); 
                              top: 0em;
                              left:0;
                              position: absolute;
        }
      }
    }
  }
  // solo per voce contatti
  #secondarymenu-2          { 
    .submenuItem:nth-child(2) { border-left: 1px dashed $gray-lighter; 
                                margin-left: 20px;
                                width: 210px;
    }
  }
}

// MENU
.globalnavWrapper           { background-color: $bgmenu; 
                              @extend .clearfix; 
    #portal-globalnav       { background: $tr url($img-path + 'bg_menu.jpg') no-repeat center center;
                              background-size: cover;
                              margin-bottom: 0;
                              font-size: 1.05em;
                              padding: 0;
                              @extend .clearfix; 
        li                  { width: 20%;
                              display: block;
                              float: left;
            a               { background-color: $tr; 
                              border-color: #AAA;
                              color: #eef2f4;
                              display: block;
                              padding: 12px 7%;
                              position: relative;
                              background-color: transparentize($blu, .4); 
                span:first-child { color: #FFF;
                                   @extend .semibold;
                }
                &:focus,
                &:hover        { background-color: transparentize($gray, .15); 
                    span       { color: #FFF !important;}
                }
                &:after        { @include make-fa('\f107', #fff); 
                                 opacity: .5;
                                 position: absolute;
                                 bottom: 10px;
                                 right: 7%;
                                 font-size: 18px;
                                 line-height: 1em;
                }
            }
            &.selected a   { background-color: transparentize($gray, .15); }
            &.tabOpen a    { background-color: transparentize($gray, .15); 
                &:after    { @include make-fa('\f106', #fff); }
            }
            &:last-child a { border-right: 0;}
        }
    }
}
// SUBMENU
#submenu-details            { background-color: $gray-bg;
                              border-top: 8px solid $gray;
                              border-bottom: 1px solid $gray;   
    .submenuDetailsContent  { @extend .clearfix; 
                              position: relative;
    }                           
    a                       { color: $text-color;
        &:focus,
        &:hover             { color: $link-color; }
    }
    h5                      { text-transform: uppercase;
                              @extend .semibold;
                              margin: 0 0 1em;
    }
    ul                      { @extend .list-unstyled;
                              display: block;
        li                  { display: block; 
                              margin-bottom: 0.35em;
                              position: relative;
                              color: $gray-light;
        }
    }
    strong                  { @extend .semibold; }    
    .submenuStaticWrapper   { @extend .col-sm-7; padding:0; }
    .staticItem             { @extend .col-sm-6; 
                               padding: 30px; 
        &:first-child       { background-color: #FAFAFA; }
        ul                  {
            li              { margin-bottom: 0.5em;
                              padding: 0 0 0.5em 14px;
                              border-bottom: 1px solid #BBB;
                              line-height: 1.4em;
                &:before    { @include make-fa('\f105', $link-color); 
                              position: absolute;
                              top: 0em;
                              left: 0;
                }
                &:last-child { border-bottom: 0; }
                a           { display: inline-block;
                    &.external-link { 
                        &:after     { position: absolute;
                                      @include make-fa('\f08e', $gray-light);
                                      right: 0;
                                      top: 0;
                        }
                    }
                }
            }
        }
    }
    .submenuDynamicWrapper  { @extend .col-sm-5;
                              padding: 30px $grid-gutter-width 30px 0;         
        ul                  { @include content-columns(2); 
                              //@media (max-width: 1035px) { @include content-columns(1); }
            li              { display: block; 
                              @include break-inside(avoid); 
                              margin-bottom: 0.35em;
                              position: relative;
                              padding-left: 25px;
                &:before    { @include make-flaticon('exit13', 12px); 
                               position: absolute;
                               top: 0.3em;
                               left: 0;
                }
                a.subitemSelected { @extend .semibold; }
            }
        }
        a.dynamicSectionExploreLabel { color: $link-color;
                                       font-size: 1.1em;
                                       margin-top: 15px;
                                       display: inline-block; 
                                       @extend .regular;                                       
                                        padding: 0.1em 0.5em;
                                        border-radius: 2px;
                                        @include transition(all .1s ease-in);
            &:before                 { @include make-flaticon('right161', 15px); 
                                       margin-right: 7px;
                                       color: $gray-light;
            }
            &:focus,
            &:hover                  { background-color: $link-color;
                                        color: #fff;
                &:before             { color: #FFF;}
            }
        }
    }
    .closeSubmenu           { position: absolute;
                              bottom: 10px;
                              right: 0;
        a                   { color: $gray-light;
                              font-size: 0.9em;
                              text-transform: uppercase;
                              @extend .semibold;
                              display: inline-block;
            &:focus,
            &:hover         { color: $link-color; }
            &:before        { @include make-flaticon('close42', 15px); 
                              margin-right: 5px; 
            }
        }
    }
}


// BREADCRUMBS
#breadcrumbs                { background-color: $lightColor;
    .breadcrumbsContent     { padding: {top: 15px; bottom: 12px; }; 
        a                   { color: $text-color;
            &:focus,
            &:hover         { color: $link-color; }
        }
        .breadcrumbTop      { display: inline-block; 
                              font-size: 1.6em;
            span            { display: inline-block; }
            &.withSeparator {
                span:after  { @include make-flaticon('right161'); 
                              margin-left: 0.7em;
                }
            }
        }
        .breadcrumbSeparator:before { @include make-fa('\f105'); 
                                       margin: 0 0.5em;
        }
    }
}

#portal-column-one,
#portal-column-two                  {
  dl.portlet,
  div.portlet                       { margin-bottom: 30px; }
}

// PORTLET STATICA
dl.rerPortletAdvancedStatic,
div.rerPortletAdvancedStatic        { 
  dt.portletHeader                  { @extend .regular;
                                      font-size: 1.3em;
                                      padding: {left: 0; right:0; }
                                      border-bottom: 2px solid $blu;
                                      color: $blu;
                                      background-color: $tr;
    a.tile                          { color: $blu; 
      &:focus,
      &:hover                       { color: $link-color;}
    }
  }
  dd.portletItem,
  .portletItem                      { padding: 15px 0 0; 
    p                               { 
      &,
      #content &                    { margin-bottom: 0.5em; }
    }
    ul                              { margin-left: 0;
        li                          { margin-bottom: 7px; 
                                      position: relative;
                                      padding-left: 15px;
            &:before                { @include make-fa('\f105'); 
                                      position: absolute;
                                      left: 0;
                                      top: 0;                                      
            }
        }
    }
  }
  dd.portletFooter                  { padding: 10px 0 0;
                                      text-align: right;
                                      font-style: italic;
                                      font-style: italic;
                                      font-size: 0.9em;
                                      border-top: 2px solid $blu;
    a                               { border:0;
                                      @extend .regular;
      &:after                       { @include make-flaticon('right161', 11px); 
                                      color: $text-color;
                                      margin-left: 8px;
      }
    }
  }
  &.lista-frecce                    {
    dd.portletItem,
    div.portletItem                 {
      ul                            {
        li                          { padding-left: 0;
                                      @extend .regular;
          &:before                  { display: none; }
          a                         { border:0;
            &:after                 { @include make-flaticon('right161', 11px); 
                                      color: $link-color;
                                      margin-left: 8px;
            }
          }
        }
      }
    }
  }
}

// con sfondo grigio
dl.portletBg,
div.portletBg                       { background-color: $gray-bg; 
                                      padding: 5px 10px;
  dt.portletHeader                  { background-color: $tr; }
  dd.portletItem,
  div.portletItem                   { padding: 15px 10px; 
    a                               { color: $text-color; 
      &:focus,
      &:hover                       { color: $link-color !important; }
    }
  }
  dd.portletFooter                  { padding: { left: 10px; right: 10px; bottom: 5px;} }
}

// con foto nel titolo
dl.portletImg                       { padding:0;
  dt.portletHeader                  { padding: 0; 
                                      position: relative;
                                      font-size: 1.2em;
                                      border:0;
    .portletTopLeft                 { display: block;
                                      position: absolute;
                                      top: 0;
                                      left: 0;
                                      height: 100%;
                                      width: 100%;
                                      background-color: rgba(0,0,0,.25);
    }
    .tile,
    a.tile                          { color: #FFF !important;
                                      position: absolute;
                                      bottom:0;
                                      left:0;
                                      padding: 10px 15px;
                                      @extend .regular;
    }
  }
  dd.portletItem                    { border:0; 
                                      padding: {left: 15px; right: 15px;}
    hr                              { border-top-color: $gray-light; 
                                      margin-top: 20px;
                                      margin-bottom: 16px; 
    }
  }
}

// con lista di link in stile NAV
dl.lista-link dd.portletItem,
div.lista-link div.portletItem      {
  ul                                { margin:0;
    li                              { position: relative;
                                      padding-left: 22px;
                                      margin: 0 0 8px;
                                      color: $gray-light;
      #visual-portal-wrapper &:before { @include make-flaticon('exit13', 11px); 
                                      position: absolute;
                                      top: 0.1em;
                                      left: 0;
                                      color: $link-color;
      }
      a                             { border: 0 !important;
        #visual-portal-wrapper &    { color: $text-color; 
          &:focus,
          &:hover                   { color: $link-color !important; }
        }
      }
    }
  }
}

// SERVIZI ONLINE
dl.portletServiziOnline             { border: 1px solid $link-color;
  dt.portletHeader                  { background-color: $link-color;
                                      border:0;
                                      padding: 10px 15px;
                                      position: relative;
                                      padding-right: 30px;
                                      color: #FFF !important; 
    a.tile                          { color: #FFF !important;
      &:focus,
      &:hover                       { color: #EAE7B9 !important; }
    }
    &:after                         { @include make-flaticon('man379', 44px);
                                      color: #FFF;
                                      position: absolute;
                                      right: 3px;
                                      bottom: -7px;
    }
  }
  dd.portletItem                    { padding: 8px 15px;
    ul                              { margin:0;
      li                            { padding: 0.6em 0;
                                      margin: 0;
                                      border-top: 1px dashed $gray-light;
        &:first-child               { border:0;}
        &:before                    { display: none; }
        a                           { display: block;
                                      color: $text-color;
                                      position: relative;
                                      border:0;
                                      padding-left: 30px;
          &:before                  { position: absolute; 
                                      left: 0;
                                      top: 2px;
                                      color: $link-color;
                                      font-family: FontAwesome;
                                      font-size: 18px;
          }
          &:focus,
          &:hover                   { color: $link-color !important; 
            &:before                { color: $text-color; }
          }
          &.external-link:before    { content: '\f08e'; }
        }
      }
    }
  }
  &.colonna-1-di-2                  { // metto le voci su due colonne
    dd.portletItem                  {
      ul                            { @include content-columns(2); 
        li                          { @include break-inside(avoid); 
                                      border-top:0;
                                      padding: 5px 0;
        }
      }
    }
    dt.portletHeader                {
      &:after                       { font-size: 60px; bottom: -9px;}
    }
  }
}

// PORTLET NAVIGAZIONE
dl[class*='ortletNavigation']       {
    dt.portletHeader                { padding:0;
                                      background-color: $tr;
        .tile,
        a.tile                      { display: inline-block;
                                      background-color: $blu;
                                      color: #fff;
                                      @extend .regular;
                                      font-size: 1.05em;
                                      padding: 0.4em 1em;
        }
        a                           {
            &:focus,
            &:hover                 { background-color: $gray; 
                                      color: #fff !important;
            }
        }
    }
    dd.portletItem                  { padding: 8px 0 0;
                                      border-bottom: 3px solid $blu;
        ul.navTreeLevel0            { margin-bottom: 6px;
            ul                      { margin: 6px 0 5px 15px; 
                &.navTreeLevel1 ul  { margin-left: -6px; }
            }
            > li.navTreeItem        { padding: 6px 0; 
                                      border-bottom: 1px dashed $blu;
                                      line-height: 1.35em;
                                      margin: 0;
                &:last-child        { border-bottom: 0; }
                .navTreeCurrentItem { background-color: $tr;
                                      border-left: 0; 
                                      @extend .semibold;
                                      margin: {left:0; right:0;};
                }
                a                   { display: block;
                                      padding: 0.1em 0.3em;
                                      @include transition(all .1s ease-in); 
                    &:focus,
                    &:hover         { color: $link-color !important;
                                       background-color: $grayVeryLighty;
                    }
                    &.navTreeItemInPath { @extend .semibold;
                                          color: $blu !important;
                    }
                }
                .navTreeLevel1      {                     
                    > li            { font-size: 0.95em; }
                    li              { position: relative;
                                      padding-left: 15px;
                                      line-height: 1.35em;
                                      margin: 0 0 6px;
                        &:before    { @include make-flaticon('exit13', 11px); 
                                      position: absolute;
                                      top: 0.2em;
                                      left: 0;
                                      color: $link-color;
                        }
                    }
                }
            }
        }
    }
}

.box                                {
  .boxContent                       {
    ul                              { 
      li                            { display: block; }
    }
  }
}

// PORTLET PER SCHEDA ATTIVITA'
.boxScheda                          { border-left: 1px solid #A6A6A6;
                                      border-top: 1px solid #A6A6A6;
                                      padding: 25px 0 20px 15px;
                                      font-size: 0.95em;
  #portal-column-two > div:first-child & { border-top:0;
                                           padding-top: 0;
  }
  h4.boxHeader                      { font-size: 1em;
                                      @extend .semibold;
                                      margin:0 0 15px;
                                      position: relative;
                                      color: #000;
                                      text-transform: uppercase;
    &:before                        { position: absolute;
                                      top: 0;
                                      left: -22px;
                                      content: '';
                                      width: 12px;
                                      height:12px;
                                      border-radius: 10px;
                                      border: 1px solid #999;
                                      background-color: #fff;
    }
  }
  h6                                { font-size: 0.9em;
                                      text-transform: uppercase;
                                      font-weight: bold;
                                      margin: 15px 0 5px;
  }
  p,
  ul                                { margin:0; }
  ul.listLink                       {
    li                              { margin-top: 14px;
      &:first-child                 { margin-top: 0; }
      a                             { display: block;
                                      position: relative;
                                      padding-left: 30px;
                                      color: $text-color;
                                      line-height: 1.4em;
        &:before                    { @include make-fa('\f0f6', #FFF);
                                      background-color: $link-color;
                                      padding: 2px 5px 1px;
                                      border-radius: 2px;
                                      position: absolute;
                                      top: 0;
                                      left: 0;
        }                                      
        &:focus,
        &:hover                     { color: $link-color;
          &:before                  { background-color: $text-color; }
        }
      }
      &.linkFilePdf a:before        { content: '\f1c1'; }
      &.linkItem a                  { 
        &:before                    { @include make-flaticon('right161', 14px); 
                                      color: $link-color;
                                      background-color: $tr;
        }
        &:focus,
        &:hover                     {
          &:before                  { color: $text-color; }
        }          
      }
    }    
  }
}

// PORTLET NORMATIVA                
.boxNorme                           { 
  ul.listLink li a,
  ul.listLink li.linkItem a         { padding-left: 24px;
    &:before                        { @include make-fa('\f138');
                                      background-color: $tr;
                                      color: $link-color;
                                      top: 2px;
                                      padding:0;
                                      font-size: 16px;
    }
    &:focus,
    &:hover                         {
      &:before                      { color: $text-color; 
                                      background-color: $tr;
      }
    }
  }
}

// PORTLET UFFICIO
.boxOffice                          { 
  h5.officeTitle                    { font-size: 1.1em;
                                      margin: 0 0 10px;
                                      line-height: 1.5em;                                      
    &:after                         { @include make-flaticon('right161', 11px); 
                                      color: $text-color;
                                      margin-left: 4px;
    }
    &:focus,
    &:hover                         {
      &:after                       { color: red;}
    }
  }
  .officeTime                       {
    h6                              { @extend .sr-only; }
    ul                              { position: relative;
                                      padding-left: 20px;
                                      margin-top: 10px;
      &:before                      { @include make-fa('\f017', #777);
                                      position: absolute;
                                      left: 0;
                                      top: -2px;
                                      font-size: 17px;
      }
    }
  }
  .officePhone                      { @extend .regular; 
    span                            { display: block; }
  }
  .officeEmail,
  .officePec                        { 
    a                               { color: $text-color;
                                      border-bottom: 1px dotted $text-color;
      &:focus,
      &:hover                       { color: $link-color; 
                                      border-bottom: 1px solid $link-color;
      }
    }
  }
}

// PORTLET ARCHIVIO
.boxArchivio                        { padding-bottom: 0;
  h4.boxHeader                      { margin-bottom: 0; 
                                      top: 3px;
    &:before                        { top: 3px; }
    a                               { display: inline-block;
      &:after                       { @include make-fa('\f115', $text-color); 
                                      margin-left: 10px;
      }
      &:focus,
      &:hover                       {
        &:after                     { color: $link-color; }
      }
    }
  }
}


// PORTLET COLLEZIONE CUSTOM
.boxCollezione                      { margin-bottom: 20px;
  h4.boxHeader                      { font-size: 1.3em;
                                      padding: 0 0 6px;
                                      margin:0;
                                      position: relative; 
    #portal-column-one &,
    #portal-column-two &            { border-bottom: 2px solid $blu;
                                      color: $blu;
    }                   
    #portal-column-content &        { padding-bottom: 10px; 
      &:before                      { display: block;
                                      content: '';
                                      background-color: lighten($blu, 20);
                                      border-radius: 3px;
                                      height: 3px;
                                      width: 60px;
                                      position: absolute;
                                      left:0;
                                      bottom:0;
      }
    }   
  }
  .boxItem                          { padding: 10px 0; 
                                      border-top: 1px dashed $gray-light;
    &.firstItem                     { border:0; padding-top: 14px; }
    h5.titleItem                    { font-size: 1em; 
                                      margin:0;
                                      @extend .light;
    }
    .dataItem                       { display: block; 
                                      font-size: 0.9em;
                                      color: $gray-light;
                                      padding-bottom: 3px;
    }
  }
  .boxFooter                        { text-align: right;
                                      font-size: 0.85em;
                                      @extend .bold;
                                      text-transform: uppercase;
    a                               { color: $text-color;
                                      display: inline-block;
      &:focus,
      &:hover                       { color: $link-color; }
      &:after                       { @include make-flaticon('right161', 15px); 
                                      margin-left: 7px;
                                      color: $gray;
      }
    }
    #portal-column-one &,
    #portal-column-two &            { border-top: 2px solid $blu;
                                      color: $blu;
                                      padding-top: 10px;
                                      margin-top: 4px;
    }
  }
}

// PORTLET COLLEZIONE OLD
dl.portletCollection                { margin-bottom: 20px;
  dt.portletHeader                  { font-size: 1.3em;
                                      padding: 0 0 6px;
                                      margin:0;
                                      position: relative;
                                      background-color: $tr;
    #portal-column-one &,
    #portal-column-two &            { border-bottom: 2px solid $blu;
                                      color: $blu;
    }                   
    #portal-column-content &        { padding-bottom: 10px; 
      &:before                      { display: block;
                                      content: '';
                                      background-color: lighten($blu, 20);
                                      border-radius: 3px;
                                      height: 3px;
                                      width: 60px;
                                      position: absolute;
                                      left:0;
                                      bottom:0;
      }
    }                                      
    a                               { color: $blu !important; 
                                      border:0 !important;
      &:focus,
      &:hover                       { color: $link-color !important;}
    }
  }
  dd.portletItem                    { padding: 10px 0; 
                                      border-top: 1px dashed $gray-light;
    a                               { border:0 !important;}
    .portletItemDetails             { display: block; 
                                      font-size: 0.9em;
                                      color: $gray-light;
                                      padding-top: 4px;
                                      margin:0;
    }
  }
  dt.portletHeader + dd.portletItem { border:0; }
  dd.portletFooter                  { text-align: right;
                                      font-size: 0.85em;
                                      @extend .bold;
                                      text-transform: uppercase;
                                      padding:0;
    a                               { color: $text-color !important;
                                      display: inline-block;
                                      border:0 !important;
      &:focus,
      &:hover                       { color: $link-color; }
      &:after                       { @include make-flaticon('right161', 15px); 
                                      margin-left: 7px;
                                      color: $gray;
      }
    }
    #portal-column-one &,
    #portal-column-two &            { border-top: 2px solid $blu;
                                      color: $blu;
                                      padding-top: 10px;
                                      margin-top: 4px;
    }
  }
}


// UFFICIO
.officeTag                          { @extend .regular;
                                      color: #999;
                                      text-transform: uppercase;
                                      font-size: 1.2em;
                                      padding-bottom: 5px;
}
.officeContactsWrapper              { background-color: $gray-bg;
                                      padding: 10px 30px 20px;
                                      margin: 40px 0;                                      
  .officeContactsContent            { display: table;
                                      position: relative;
                                      table-layout: fixed;
                                      width: 100%;
  }  
  h4                                { text-transform: uppercase;
                                      color: $gray-light;
                                      font-size: 1.2em;
  }
  h5                                { font-size: 1.05em; 
                                      margin-bottom: 0.5em;
  }
  .officeLocation,
  .officeContacts,
  .officeExecutive                  { display: table-cell;
                                      vertical-align: top;
  }
  .officeLocation                   { width: 38%;
                                      padding-right: 2%;
  }
  .officeContacts                   { border-left: 1px dashed $gray-light;
                                      width: 48%;
                                      padding: 0 2%;
  }
  .officeExecutive                  { border-left: 1px dashed $gray-light;
                                      padding-left: 2%;
                                      vertical-align: middle;
                                      text-align: center;                                                                            
    &:before                        { @include make-flaticon('businessman137', 78px); 
                                      color: $link-color;
                                      display: block;
                                      padding-bottom: 20px;
    }    
    h5                              { text-transform: uppercase; }
  }
  .officeLoc                        {
    p                               { margin-left: 20px; }
  }
  .officeTime                       { padding-top: 5px;
    ul                              { 
      &,
      #content &                    { @extend .list-unstyled; 
                                      margin-left: 20px;
      }
    }
  }
  .officePhone,
  .officeFax,
  .officeEmail,
  .officePec                        { @extend .clearfix;
                                      padding-bottom: 3px;
    h6                              { @extend .col-xs-2;
                                      text-align: right;
                                      margin:0.3em 0 0;
                                      padding-right: 0;
                                      text-transform: uppercase;
                                      font-size: 0.85em;
                                      @extend .semibold; 
                                      white-space: nowrap;
    }
    p                               { @extend .col-xs-10; 
                                      margin-bottom: 0 !important;
                                      padding-right:0;
    }
    span                            { display: block;}
  }
  .officeEmail                      { padding-top: 10px; }
  .officeEmail,
  .officePec                        { 
    p a                             { border:0 !important;
                                      display: inline-block;
                                      width: 100%;
                                      text-overflow: ellipsis;
                                      overflow: hidden;
    }
  }
}
.officeDuties                       {
  h4                                { font-size: 1.4em; }
}
#content .proceedingsList           {
  h2                                { margin: 30px 0 20px; 
                                      padding-top: 20px;
                                      position: relative;
                                      @extend .light;
    &:before                        { display: block;
                                      content: '';
                                      background-color: lighten($blu, 20);
                                      border-radius: 3px;
                                      height: 3px;
                                      width: 60px;
                                      position: absolute;
                                      left:0;
                                      top:0;
    }
  }
  dl                                {
    dd                              { padding-left: 30px; 
                                      font-size: 0.9em;
                                      color: $gray-light;
                                      margin:4px 0 0;
    }
    dt                              { font-size: 1.15em;
                                      @extend .regular;
                                      padding-left: 30px;
                                      margin-top: 10px;
                                      position: relative;
      &:before                      { @include make-flaticon('exit13', 17px);
                                      position: absolute;
                                      left:0;
                                      top:0.1em;
                                      color: $gray-light;
      }
    }
  }
}

// PAGINA INTRO SEZIONE (PORTLET PAGE)
.template-pp_homepage_view          {
  #viewlet-below-content-title      { @extend .pull-right; }
  #portletPageColumns               { clear: both; margin-top: 10px; 
    .portletPageColumn              { @extend .clearfix; }

    // riga grigio (first)
    #portletPageTopRowWrapper       { background-color: $gray-row;
                                      padding: 20px 0;
      #portletPageTopRow            { @extend .container; 
        dl.rerPortletAdvancedStatic,
        div.rerPortletAdvancedStatic { position: relative;
                                       margin-bottom: 0;
            &:before, &:after       { position: absolute;
                                      content:'';
                                      height: 100%;
                                      width: 15px;
                                      left:15px;
                                      top:0;
                                      background-color: #FFF;
            }
            &:after                 { left: auto;
                                      right:15px;
            }
          dt.portletHeader          { padding: 20px 15px 10px; 
                                      background-color: #FFF;
          }
          dd.portletItem,
          div.portletItem           { padding: 15px; 
                                      background-color: #fff;
                                      min-height: 260px;
          }          
        }
        dl.portletServiziOnline     { border:0;
          dt.portletHeader          { background-color: $link-color;
                                      z-index: 1;
                                      padding: 15px;
          }
        }
      }
    }
  }
}


// FORMATTAZIONI
#content                            { margin: 0 0;
    h1.documentFirstHeading         { @extend .light;
                                      font-size: 2.4em;
                                      position: relative;
                                      margin: 0 0 $grid-gutter-width;
                                      padding-bottom: 10px;
      .template-search &            { margin-bottom: 10px; }
      &:before                    { display: block;
                                    content: '';
                                    background-color: lighten($blu, 20);
                                    border-radius: 3px;
                                    height: 3px;
                                    width: 60px;
                                    position: absolute;
                                    left:0;
                                    bottom:0;
      }
    }
    .documentDescription            { @extend .regular;
                                      margin-bottom: 20px;
    }
    .portlet dt                     { @extend .regular; }
}
#plone-document-byline              { text-align: right;
                                      font-size: 0.9em;
                                      margin-bottom: 20px;
  .documentModified                 { font-style: italic; color: $gray-light; }
}

// DOCUMENT ACTIONS
#content .documentActions           { @extend .pull-right; 
                                      position: relative;
                                      z-index: 2;
  ul                                { display: inline-block;
    li                              { display: inline-block;
                                      list-style: none;
      &:first-child                 { margin-right: 20px; }
      a                             { color: $gray-light; 
                                      border:0;
                                      text-transform: uppercase;
                                      font-size: 0.9em;
        &:before                    { color: $link-color;
                                      vertical-align: middle;
                                      margin-right: 8px;
        }
        &:focus,
        &:hover                     { color: $link-color !important;
          &:before                  { color: $text-color !important; }
        }
      }
      &#document-action-print a:before { @include make-flaticon('printer70', 30px); }
      &#document-action-sendto a:before { @include make-flaticon('email147', 30px); }
    }
  }
}

// LISTING BAR (PAGINAZIONE)
#viewlet-below-content .listingBar   { padding-top: 20px;
  span                               { color: $gray-light; }
  a                                  { border: 1px solid lighten($blu, 40);
                                       border-radius: 3px;
                                       color: $blu;
                                       margin: 0 2px;
    &:focus,
    &:hover                          { background-color: lighten($blu, 40);
                                       color: #FFF !important;
    }
  }
  a.previous                         { }
}

// CORRELATI
#relatedItemBox                     { margin-top: 30px;
                                      padding-top: 10px;
                                      position: relative;
  &:before                          { display: block;
                                      content: '';
                                      background-color: lighten($blu, 20);
                                      border-radius: 2px;
                                      height: 2px;
                                      width: 40px;
                                      position: absolute;
                                      left:0;
                                      top:0;
  }
  ul                                { @extend .list-unstyled; 
                                      margin: 0;
                li                  { margin-bottom: 7px; 
                                      position: relative;
                                      padding-left: 15px;
                    &:before        { @include make-fa('\f105'); 
                                      position: absolute;
                                      left: 0;
                                      top: 0;                                      
                    }
                }
            }
}

// FOOTER
#portal-footer-wrapper              { background-color: $blu;
                                      color: $grayLighty;
                                      margin-top: $grid-gutter-width/2;
    a                               { color: #FFF;
                                      @include transition(all .1s ease-in);
        &:focus,
        &:hover                     { color: $grayVeryLighty !important;
                                      background-color: transparentize(#FFF, .9);
                                      border-radius: 2px;
        }
    }
    .manageFooterPortletsLink a     { color: $grayVeryLighty !important;
                                      background-color: transparentize(#FFF, .9);
                                      border-radius: 2px;
        &:focus,
        &:hover                     { background-color: $bludark; }
    }
    #portal-colophon                { background-color: $bludark; 
                                      color: $gray-lighter;
                                      margin-bottom: 0;
                                      font-size: 0.8em;
                                      padding: 10px 0;
                                      text-align: right;
        p                           { margin-bottom: 0; }
        a                           { color: #FFF;
                                      @extend .regular;
                                      display: inline-block;
                                      padding: 0 0.5em;
        } 
    }

    #portal-siteactions             { text-align: left;
                                      padding: $grid-gutter-width/2 $grid-gutter-width/2 $grid-gutter-width;
                                      margin-bottom:0;
        li                          { padding: 0 0 0 7px;
                                      margin-right: 2px;
                                      border-left: 1px solid #AAA;
            &:first-child           { border-left: 0; }
            a                       { display: inline-block;
                                      padding: 0.05em 0.5em;
            }
        }
    }

    #portlets-footer                { padding: {top:20px; bottom:40px};
        h4                          { @extend .light;
                                      font-size: 1.5em;
                                      margin: 0 0 15px;
        }
        h5                          { font-size: 1.2em;
                                      @extend .light;
                                      margin-top: 40px;
        }
        p                           {
            strong                  { font-size: 0.9em; }
            a                       { border-bottom: 1px dotted #FFF; 
                &:focus,
                &:hover             { border-bottom: 0; }
            }
        }
        a.btnSimple                 { border: 1px solid #fff;
                                      padding: 0.2em 1em;
                                      font-weight: 500;
                                      text-transform: uppercase;
                                      display: inline-block;
                                      margin-top: 0.8em;
                                      border-radius: 2px;
          &:focus,
          &:hover                   { border: 1px solid #FFF; }
        }
        dl.portlet                  { margin-bottom: 0; 
                                      padding: 0 20px;
        }
        dt.portletHeader            { background-color: $tr;
                                      color: #FFF;
                                      @extend .semibold;
                                      font-size: 1em;
                                      border-bottom: 0;
        }
        .lista-link                 { color: $gray-lighter;
                                      position: relative;
            @media (min-width: $screen-sm) { min-height: 225px; }
            &:before                { display: block;
                                      position: absolute;
                                      width: 1px;
                                      height: 100%;
                                      @extend .hidden-xs;
                                      left: 0;
                                      top: 0;
                                      background-color: $gray-light;
                                      content: '';
            }
            ul                      { margin: 0;
                li                  { margin-bottom: 7px; 
                                      position: relative;
                                      padding-left: 15px;
                    &:before        { @include make-fa('\f105'); 
                                      position: absolute;
                                      left: 0;
                                      top: 0;                                      
                    }
                    a               { border:0; }
                }
            }
        }
    }
}

// FIX VISTA MODULISTICA
#content table.modulisticaListing   { @extend .table, .table-condensed;
  tr.odd th.modulisticaDocument     { border: 1px solid #999; }
  th.modulisticaDocument            { background-color: #FFF;
    a[name]                         { display: inline; }
    h3                              { margin: 10px 0; 
                                      font-size: 18px; 
                                      @extend .regular;
                                      color: #000;
    }
    p                               { margin-bottom: 0.5em; }
  }
  td                                {
    label                           { @extend .regular; }
  }
  > tbody:first-child > tr:first-child > td     { border-top-color: #999; }
}

/// SITEMAP
#portal-sitemap {margin-top: 15px;}
#portal-sitemap > li { border:0;}

// DEFINISCO LE AREE PER I COLORI
@include define-area(0, $area0, 'avvia-attivita-impresa');
@include define-area(1, $area1, 'conosci-gestisci-impresa');
@include define-area(2, $area2, 'promuovi-in-italia-e-estero');
@include define-area(3, $area3, 'finanziamenti-innovazione');
@include define-area(4, $area4, 'tutela-impresa-e-consumatore');

//// PER LA STAMPA
//@media print {@include make-grid(md);}
