.officeContactsWrapper {
    margin: 0 0 40px;

    .officeContactsContent {
        display: flex;
        background: #EEE;
        border-top: 1px solid $brand-primary;

        > div {
            padding: 20px;
            width: 100%;
            min-width: 25em;

            h6 {
                margin: 0;
            }

            h5 {
                margin: 0 0 10px;
            }
        }
    }
}
