/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
a[href]:after {
  content: none !important; }

img {
  width: auto !important;
  max-width: 100%; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }
.clearfix:after {
  clear: both; }

body {
  font-size: 9pt;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important; }

p,
#content p {
  margin: 0 0 4pt;
  line-height: 1.4em; }

h1, h2 {
  letter-spacing: normal;
  font-weight: 500; }

h1, h2, h3, h4, h5, h6, strong, ul, li, #content p, span, div {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important; }

h1 {
  font-size: 15pt; }

h2 {
  font-size: 14pt; }

h3 {
  font-size: 12pt;
  font-weight: 600; }

#toplinks-wrapper,
.searchTile,
#portal-footer-wrapper,
#search-filters,
#pie-prj,
.chart-title-below,
.btn_mostra_filtri,
.sortFilter-wrapper,
#projectAnchors,
#portal-personaltools-wrapper,
.documentByLine,
#intro-video video {
  display: none; }
