/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
a[href]:after {
  content: none !important; }

img {
  width: auto !important;
  max-width: 100%; }

.clearfix:before, .officeContactsWrapper .officeContactsContent:before, .clearfix:after, .officeContactsWrapper .officeContactsContent:after {
  content: " ";
  display: table; }
.clearfix:after, .officeContactsWrapper .officeContactsContent:after {
  clear: both; }

body {
  font-size: 9pt;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important; }

p,
#content p {
  margin: 0 0 4pt;
  line-height: 1.4em; }

h1, h2 {
  letter-spacing: normal;
  font-weight: 500; }

h1, h2, h3, h4, h5, h6, strong, ul, li, #content p, span, div {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important; }

h1 {
  font-size: 15pt; }

#content h1.documentFirstHeading {
  margin-bottom: 0; }

h2 {
  font-size: 14pt; }

h3 {
  font-size: 12pt;
  font-weight: 600; }

#toplinks-wrapper,
#portal-footer-wrapper,
#portal-personaltools-wrapper,
.documentByLine,
.globalnavWrapper,
#topbar,
#searchbox,
.secondaryMenu,
#breadcrumbs,
#viewlet-social-like,
.managePortletsLink,
#document-toc {
  display: none; }

#portal-logo {
  float: none;
  width: auto;
  display: inline-block;
  width: 200px;
  height: 45px;
  border: 0; }

#portal-column-one {
  display: none !important; }

#portal-column-two,
#portal-column-content {
  display: block;
  width: auto;
  float: none !important;
  position: static !important; }

#portal-column-two {
  font-size: 1em;
  padding: 20px 0 0;
  margin-top: 20px;
  border-top: 1px dashed #999; }
  #portal-column-two .portlet {
    display: none; }

.boxScheda h4.boxHeader:before, .boxApprofondimenti h4.boxHeader:before {
  display: none; }

.boxScheda, .boxApprofondimenti {
  font-size: 1em;
  border: 0;
  padding: 0;
  float: left;
  width: 40%;
  margin-right: 4%;
  margin-bottom: 20px; }

.boxOffice .officeEmail a, .boxOffice .officePec a {
  display: inline;
  overflow: auto; }

.boxScheda ul.listLink li a, .boxApprofondimenti ul.listLink li a {
  border: 0; }

blockquote {
  border-left: 1px solid #999;
  margin-top: 20px; }

#portal-column-two > div:first-child .boxScheda.boxBandoDetail + .boxModuliBando, #portal-column-two > div:first-child .boxApprofondimenti.boxBandoDetail + .boxModuliBando {
  border-top: 0; }

.officeContactsWrapper {
  border: 1px solid #999;
  margin: 20px 0;
  padding: 10px; }
  .officeContactsWrapper h4 {
    margin: 0; }
  .officeContactsWrapper .officeLocation, .officeContactsWrapper .officeContacts, .officeContactsWrapper .officeExecutive {
    display: inline-block;
    float: left;
    width: 40%; }
  .officeContactsWrapper .officeExecutive {
    display: inline-block;
    width: 20%; }
    .officeContactsWrapper .officeExecutive:before {
      line-height: 1em;
      padding-bottom: 0;
      padding-top: 0;
      margin: 0; }

#content .proceedingsList h2 {
  margin-top: 10px; }

#content .proceedingsList dl dt:before {
  font-size: 14px;
  top: 0.2em; }

pre, blockquote, #content .callout {
  border: 1px solid #999;
  padding: 12px;
  border-radius: 4px; }

.template-pp_homepage_view #viewlet-below-content-title {
  display: none; }
.template-pp_homepage_view #portletPageColumns #portletPageTopRow,
.template-pp_homepage_view #portletPageColumns #portletPageMiddleRowContent,
.template-pp_homepage_view #portletPageColumns #portletPageBottomRow {
  padding: 0; }
.template-pp_homepage_view #portletPageColumns #portletPageTopRowWrapper #portletPageTopRow dl.rerPortletAdvancedStatic dt.portletHeader,
.template-pp_homepage_view dl.portletImg dt.portletHeader .tile, .template-pp_homepage_view dl.portletImg dt.portletHeader a.tile {
  padding: 0 0 10px;
  border-bottom: 2px solid #283641;
  color: #000 !important;
  position: static;
  display: block; }
.template-pp_homepage_view dl.portletServiziOnline dt.portletHeader:after {
  display: none; }
.template-pp_homepage_view #visual-portal-wrapper dl.lista-link dd.portletItem ul,
.template-pp_homepage_view #visual-portal-wrapper div.lista-link div.portletItem ul {
  padding-left: 0; }
  .template-pp_homepage_view #visual-portal-wrapper dl.lista-link dd.portletItem ul li,
  .template-pp_homepage_view #visual-portal-wrapper div.lista-link div.portletItem ul li {
    padding-left: 0; }
    .template-pp_homepage_view #visual-portal-wrapper dl.lista-link dd.portletItem ul li:before,
    .template-pp_homepage_view #visual-portal-wrapper div.lista-link div.portletItem ul li:before {
      display: none; }
.template-pp_homepage_view dl.rerPortletAdvancedStatic dd.portletItem ul, .template-pp_homepage_view div.rerPortletAdvancedStatic .portletItem ul {
  padding-left: 0; }
.template-pp_homepage_view dl.portletServiziOnline dd.portletItem ul {
  padding-left: 0; }
.template-pp_homepage_view #portletPageColumns #portletPageTopRowWrapper #portletPageTopRow dl.rerPortletAdvancedStatic dd.portletItem,
.template-pp_homepage_view #portletPageColumns #portletPageTopRowWrapper #portletPageTopRow div.rerPortletAdvancedStatic div.portletItem {
  min-height: 1px; }

.boxCollezioneRigaNotizie .boxItem .boxItemContent {
  height: auto; }
  .boxCollezioneRigaNotizie .boxItem .boxItemContent:after {
    display: none; }

.boxCollezioneRigaNotizie .boxFooter {
  display: none; }

#portlets-in-header,
.section-homepage #portlets-in-header,
.section-homepage #portlets-below {
  display: none; }

.boxNotizieHome .boxNewsImg .imgItem, .boxNotizieHome .boxNewsImg .newsImg {
  display: none; }
.boxNotizieHome .boxNewsImg.boxNewsImgBig .newsContent {
  position: static; }
.boxNotizieHome .boxNewsImg.boxNewsImgBig .boxNewsImgBigContent,
.boxNotizieHome .boxNewsImg .newsText {
  height: auto; }

.boxNotizieHome .boxFooter,
.boxNotizieHome .boxNews .tagItem {
  display: none; }

.boxNotizieHome .boxNews .newsContent,
.boxNotizieHome .boxNews .newsContent h5.titleItem {
  height: auto; }

.boxNotizieHome .boxNewsImg.boxNewsImgBig,
.boxNotizieHome .boxNewsImg,
.boxNotizieHome .boxNews {
  float: none;
  width: auto;
  height: auto;
  margin: 0; }

dl.portletFocus {
  padding: 0;
  width: auto !important;
  min-height: 1px; }
  dl.portletFocus dd.portletFooter {
    display: none; }

.boxAvvisi {
  margin: 20px 0 0; }
  .boxAvvisi h4.boxHeader {
    padding-bottom: 0; }
  .boxAvvisi .boxItem {
    padding: 0; }
    .boxAvvisi .boxItem .titleItem {
      border-bottom: 0;
      padding: 8px 0; }

div.boxCollezioneBase.boxEventi {
  margin: 20px 0 0; }
  div.boxCollezioneBase.boxEventi h4.boxHeader {
    background-color: transparent; }
  div.boxCollezioneBase.boxEventi .boxItem {
    margin: 0; }
    div.boxCollezioneBase.boxEventi .boxItem .titleItem {
      min-height: 1px; }

.boxCollezioneBase .boxFooter {
  display: none; }
